* {
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
}

#container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mainContainer {
    width: 60%;
    max-width: 100%;
    max-height: 100vh;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px #000;
}

@media only screen and (min-width: 1600px) {
    #mainContainer {
        width: 70%;
    }
}

#welcomeTitle {
    font-size: 12px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (min-width: 1600px) {
    #welcomeTitle {
        font-size: 14px;
    }
}

#timerArea {
    margin: 10px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1600px) {
    #timerArea {
        margin: 30px 0 40px;
    }
}

.timerCountingSet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

@media only screen and (min-width: 1600px) {
    .timerCountingSet {
        width: 135px;
    }
}

.timerCountingSet-countingNumber {
    font-size: 80px;
    font-weight: 400;
}

@media only screen and (min-width: 1600px) {
    .timerCountingSet-countingNumber {
        font-size: 100px;
    }
}

.timerCountingSet-unit {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

@media only screen and (min-width: 1600px) {
    .timerCountingSet-unit {
        font-size: 22px;
    }
}

.gapBetweenTwoCountingNumber {
    font-size: 60px;
    margin: 0 40px;
    /* color: transparent; */
}

@media only screen and (min-width: 1600px) {
    .colon {
        font-size: 70px;
    }
}

#timerControlButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#timerControlButton button {
    padding: 7px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

@media only screen and (min-width: 1600px) {
    #timerControlButton button {
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 16px;
    }
}

#timerControlButton button:focus {
    outline: none;
}

.activatedButton {
    color: rgb(255, 196, 0);
    background-color: #fff;
}

.activatedButton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
    color: #fff;
    background-color: rgb(255, 196, 0);
}

.deactivatedButton {
    color: rgb(88, 88, 88);
    background-color: #ccc;
}

.deactivatedButton:hover {
    cursor: none;
    pointer-events: none;
}

.gapSeparateTwoArea {
    width: 100%;
    margin-top: 20px;
    border-top: 2px dashed #fff;
}

#questionAndAnswerArea {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: auto; */
}

.eachSetOfQuestionAndAnswer {
    /* margin-bottom: 20px; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eachSetOfQuestionAndAnswer h2 {
    margin: 0 0 10px 0;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (min-width: 1600px) {
    .eachSetOfQuestionAndAnswer h2 {
        font-size: 20px;
    }
}

.eachSetOfQuestionAndAnswer h2>span {
    font-size: 16px;
    font-weight: 100;
}

@media only screen and (min-width: 1600px) {
    .eachSetOfQuestionAndAnswer h2>span {
        font-size: 18px;
    }
}

.eachSetOfQuestionAndAnswer textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    padding: 5px 10px;
    width: 100%;
    height: 350px;
}

@media only screen and (min-width: 1600px) {
    .eachSetOfQuestionAndAnswer textarea {
        border-radius: 10px;
        font-size: 16px;
        padding: 10px 15px;
        height: 400px;
    }
}

.eachSetOfQuestionAndAnswer textarea:focus {
    outline: none;
    background-color: #fff;
}


/* Notification */

.notificationContainer {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.setOfNotificationMessage {
    height: 50px;
    font-size: 14px;
    display: none;
    opacity: 0;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    border-radius: 5px;
}

@media only screen and (min-width: 1600px) {
    .setOfNotificationMessage {
        height: 60px;
        font-size: 16px;
    }
}

#warningNotification {
    background-color: #ff9800;
}

#successNotification {
    background-color: #28d828;
}